@model DangQuangTien_RazorPages.Pages.Category.EditModel
<form method="post" asp-page="Edit" asp-route-id="@Model.Category.CategoryId" data-confirm="Save changes to this category?">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
    <input type="hidden" asp-for="Category.CategoryId" />
    <div class="mb-3">
        <label asp-for="Category.CategoryName" class="form-label"></label>
        <input asp-for="Category.CategoryName" class="form-control" />
        <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Category.CategoryDesciption" class="form-label"></label>
        <textarea asp-for="Category.CategoryDesciption" class="form-control"></textarea>
        <span asp-validation-for="Category.CategoryDesciption" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Category.IsActive" class="form-label"></label>
        <select asp-for="Category.IsActive" class="form-select" style="width: 100px; display: inline-block;">
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
        <span asp-validation-for="Category.IsActive" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-warning">Save</button>
</form>
