@page "{id:int}"
@model DangQuangTien_RazorPages.Pages.Category.DeleteModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Delete Category</h2>

@await Html.PartialAsync("_DeleteFormPartial", Model)
<a asp-page="Index" class="btn btn-secondary mt-2">Cancel</a>
