@page "{id:int}"
@model DangQuangTien_RazorPages.Pages.Category.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Edit Category</h2>

@await Html.PartialAsync("_EditFormPartial", Model)
<a asp-page="Index" class="btn btn-secondary mt-2">Cancel</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
