@page "{id:int}"
@model DangQuangTien_RazorPages.Pages.Category.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Edit Category</h2>

<form method="post" data-confirm="Save changes to this category?">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <input type="hidden" asp-for="Category.CategoryId" />

    <div class="mb-3">
        <label asp-for="Category.CategoryName" class="form-label"></label>
        <input asp-for="Category.CategoryName" class="form-control" />
        <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Category.CategoryDesciption" class="form-label"></label>
        <textarea asp-for="Category.CategoryDesciption" class="form-control"></textarea>
        <span asp-validation-for="Category.CategoryDesciption" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Category.IsActive" class="form-label"></label>
        <input asp-for="Category.IsActive"
               class="form-control"
               style="width: 100px; display: inline-block;"
               placeholder="true/false" />
        <span asp-validation-for="Category.IsActive" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-warning">Save</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
