@page
@model Account.IndexModel
@{
    ViewData["Title"] = "Account Management";
}

<h1>Account Management</h1>

<table class="table table-bordered table-hover table-striped mt-3">
    <thead class="table-light">
        <tr>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var acc in Model.Accounts)
        {
            <tr>
                <td>@acc.AccountEmail</td>
                <td>
                    @(acc.AccountRole == 0 ? "Admin" :
                                    acc.AccountRole == 1 ? "Staff" :
                                    acc.AccountRole == 2 ? "Lecturer" :
                                    "Unknown")

                </td>
            </tr>
        }
    </tbody>
</table>
