@page
@model Account.IndexModel
@{
    ViewData["Title"] = "Account Management";
}

<h1>Account Management</h1>

<form method="get" class="row mb-3">
    <div class="col-auto">
        <input asp-for="SearchTerm" class="form-control" placeholder="Search..." />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
        <a asp-page="Create" class="btn btn-success" data-popup="create">New Account</a>
    </div>
</form>

<table class="table table-bordered table-hover table-striped mt-3">
    <thead class="table-light">
        <tr>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var acc in Model.Accounts)
        {
            <tr>
                <td>@acc.AccountEmail</td>
                <td>
                    @(acc.AccountRole == 0 ? "Admin" :
                                    acc.AccountRole == 1 ? "Staff" :
                                    acc.AccountRole == 2 ? "Lecturer" :
                                    "Unknown")

                </td>
                <td>
                    @if (acc.AccountId != 0)
                    {
                        <a asp-page="Edit" asp-route-id="@acc.AccountId" class="btn btn-sm btn-warning me-1" data-popup="edit">Edit</a>
                        <a asp-page="Delete" asp-route-id="@acc.AccountId" class="btn btn-sm btn-danger" data-popup="delete">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
